# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
env/
ENV/
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Project specific
*.keras
*.h5
violence_log.csv
recordedVideo.avi
Alert/V_12.mp4
